@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  background: #faffd7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #FAFFD7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 80px;
  border-radius: 12px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.2s;
}

nav a:hover {
  color: #c24800;
}

.atividades-bloco {
  background: #FAFFD7;
  padding: 5px;
  margin: 5px 0;
  border-radius: 12px;
}

.atividades {
  color: #833e19;
  font-weight: 700;
  font-size: 28px;
}

.segundoparagrafo {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.carrossel-container {
  background: #ffefad;
  padding: 20px;
  border-radius: 25px;
  margin: 25px 0;
}

.carrossel-header {
  background: #f8c94b;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.carrossel-header h2 {
  margin: 0;
  font-size: 32px;
  color: #6b2a00;
}

.carrossel-header p {
  margin: 5px 0 0;
  font-size: 18px;
  color: #443000;
}

.carrossel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 15px;
}

.carrossel {
  display: flex;
  gap: 20px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carrossel img {
  width: 120px;
  transition: 0.2s;
}

.carrossel img:hover {
  transform: scale(1.08);
}

.carrossel-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #000;
  background: white;
  font-size: 28px;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carrossel-btn.prev {
  left: 5px;
}

.carrossel-btn.next {
  right: 5px;
}
