@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  background: #faffd7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  text-align: center;
}

.logo-area {
  justify-content: center;
}

.logo {
  width: 80px;
  border-radius: 12px;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.2s;
}
nav a:hover {
  color: #c24800;
}