@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


body {
  background: #FAFFD7;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.quadrado{

 background-image: ("") ;
 background-size: 50px;

}

.cabecalho cabecalho3{
  width: 50;
  height: 200;
}