@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


body {
  background: #FAFFD7;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  
}

.quadrado{

 
 background-size: 50px;
 padding: 20px;
 margin: 10px;

}

.cbs{
width: 80px;
height: auto;
}

.imt{
  justify-content: ;
}